/* collapse button */
.pendo-expand-collapse-button {
  background: #4f4f4f;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  left: 47%;
  position: absolute;
  top: -25px;
  width: 70px;
  text-align: center;
}

/* collapse arrow in expanded state */
.pendo-expand-collapse-arrow {
  border: solid #fff;
  border-left-color: transparent;
  border-top-color: transparent;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 16px;
  transform: rotate(45deg);
  width: 16px;
  cursor: pointer;
}

/* collapse arrow in collapsed state */
#pendo-guide-container.collapse .pendo-expand-collapse-arrow {
  margin-top: 10px;
  transform: rotate(225deg);
}