*,
*:before,
*:after {
  box-sizing: inherit;
}

///********************** //
// * main guide styling * //
// ********************** //
// NOTE: do NOT give it a class or ID in the guide CSS.
// Without a class/id, the following styles will apply directly to #_pendo_g_ + (guide.id) */
width: auto !important;
height: auto !important;
left: 0 !important;
right: 0 !important;
top: 0 !important;
bottom: 0 !important;
margin-top: 0 !important;
margin-left: 0 !important;
z-index: 2147483648;
overflow: hidden !important;
._pendo-guide-container_ {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  background-color: transparent;
  padding: 40px;
  color: #333;
  line-height: 140%;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  z-index: 2147483648;
}

._pendo-guide-container_ ._pendo-guide-content_ {
  text-align: left;
  padding: 0;
}

._pendo-guide-content_ {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

._pendo-guide-container_ ._pendo-close-guide_ {
  display: inline;
  font-size: 48px;
  font-weight: 100;
  top: 7px;
  right: 16px;
  color: #6a6c75;
  z-index: 999;
}

._pendo-guide-container_ ._pendo-close-guide_:hover {
  color: #2a2c35;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

._pendo-guide-foreground_ {
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 200px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  ._pendo-guide-arrow-wrapper_ {
    width: 850px;
    z-index: 2;
    position: absolute;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    ._pendo-guide-previous-arrow_,
    ._pendo-guide-next-arrow_ {
      svg:hover {
        cursor: pointer;
        #_pendo-previous-arrow_,
        #_pendo-next-arrow_ {
          fill: #2a2c35;
          -webkit-transition: all 300ms;
          -o-transition: all 300ms;
          transition: all 300ms;
        }
      }
    }
  }
  ._pendo-guide-screen-message_ {
    display: none;
    max-width: 450px;
    z-index: 2;
    font-size: 18px;
    color: #2a2c35;
    font-weight: 300;
  }
  @media only screen and (min-width: 601px) and (max-height: 575px) {
    ._pendo-guide-screen-message_ {
      display: block;
    }
  }
  @media only screen and (max-width: 600px) {
    ._pendo-guide-screen-message_ {
      display: block;
    }
  }
  ._pendo-guide-cards-container_ {
    width: 100%;
    max-width: 850px;
    min-width: 320px;
    max-height: 450px;
    z-index: 1;
    padding: 0 15px;
    position: relative;
    ._pendo-guide-card-grid_ {
      list-style: none;
      margin: auto;
      background: transparent;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      overflow: hidden;
      height: 550px;
      ._pendo-guide-card_ {
        position: relative;
        text-align: center;
        z-index: 1;
        max-height: 450px;
        ._pendo-guide-step-indicators_ {
          width: 100%;
          padding: 0;
          margin: 20px 0 15px 0;
          line-height: 10px;
          .step-indicator {
            background-color: #8f8f8f;
            display: inline-block;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            opacity: 0.25;
            margin: 0 7.5px;
            &:hover {
              cursor: pointer;
              background-color: #8f8f8f;
              opacity: 1;
              -webkit-transition: all 300ms;
              -o-transition: all 300ms;
              transition: all 300ms;
            }
            &.active {
              background-color: #8f8f8f;
              opacity: 1;
              -webkit-transition: all 300ms;
              -o-transition: all 300ms;
              transition: all 300ms;
            }
          }
        }

        ._pendo-guide-card-content_ {
          text-align: left;
          padding: 0;
          width: 100%;
          height: 100%;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          &._pendo-card-slide-left-in_ {
            -webkit-transform: translate(-110%, 0);
            -ms-transform: translate(-110%, 0);
            transform: translate(-110%, 0);
            -webkit-animation: pendo-card-slide-left-in 300ms ease-in-out 0ms both;
            animation: pendo-card-slide-left-in 300ms ease-in-out 0ms both;
          }
          &._pendo-card-slide-left-out_ {
            -webkit-transform: translate(0, -110%);
            -ms-transform: translate(0, -110%);
            transform: translate(0, -110%);
            -webkit-animation: pendo-card-slide-left-out 300ms ease-in-out 0ms both;
            animation: pendo-card-slide-left-out 300ms ease-in-out 0ms both;
          }
          &._pendo-card-slide-right-in_ {
            -webkit-transform: translate(110%, 0);
            -ms-transform: translate(110%, 0);
            transform: translate(110%, 0);
            -webkit-animation: pendo-card-slide-right-in 300ms ease-in-out 0ms both;
            animation: pendo-card-slide-right-in 300ms ease-in-out 0ms both;
          }
          &._pendo-card-slide-right-out_ {
            -webkit-transform: translate(0, 110%);
            -ms-transform: translate(0, 110%);
            transform: translate(0, 110%);
            -webkit-animation: pendo-card-slide-right-out 300ms ease-in-out 0ms both;
            animation: pendo-card-slide-right-out 300ms ease-in-out 0ms both;
          }
          &._pendo-card-fade-out_ {
            opacity: 1;
            -webkit-animation: pendo-card-fade-out 300ms ease-in-out 0ms both;
            animation: pendo-card-fade-out 300ms ease-in-out 0ms both;
          }
          ._pendo-main-content_ {
            width: 750px;
            max-height: 450px;
            height: 100%;
            max-width: 100%;
            &::before {
              content: '';
              display: block;
              position: absolute;
              z-index: -1;
              height: 50%;
              width: 94%;
              left: 3%;
              right: 3%;
              bottom: 0px;
              -webkit-border-radius: 40px;
              -moz-border-radius: 40px;
              border-radius: 40px;
              -webkit-box-shadow: 0 10px 45px #DADCE5;
              -moz-box-shadow: 0 10px 45px #DADCE5;
              box-shadow: 0 10px 45px #DADCE5;
              -webkit-transition: all 300ms;
              -o-transition: all 300ms;
              transition: all 300ms;
            }
            ._pendo-guide-content-left_ {
              height: 100%;
              width: 35%;
              ._pendo-guide-carousel-name_ {
                padding: 20px 30px 20px;
                margin: 0;
                font-size: .8em;
                letter-spacing: 2px;
                font-weight: 300;
                position: absolute;
                width: 35%;
                text-transform: uppercase;
                line-height: 12px;
                color: #f8f89;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }
              ._pendo-guide-content-left-background_ {
                position: absolute;
                width: 35%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                -webkit-border-radius: 3px 0 0 3px;
                -moz-border-radius: 3px 0 0 3px;
                border-radius: 3px 0 0 3px;
                background: #ec2059;
              }
              ._pendo-guide-content-left-text_ {
                position: relative;
                top: 50%;
                width: 100%;
                padding: 0 30px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                h3 {
                  margin: 0 0 20px 0;
                  font: 700 28px/1.1em 'proxima-nova', sans-serif;
                  color: #f8f89;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                }
                h4 {
                  font: 400 17.1px/1.3em 'proxima-nova', sans-serif;
                  color: #f4f4f7;
                  letter-spacing: .02em;
                }
              }
              @media only screen and (max-width: 930px) {
                ._pendo-guide-content-left-text_ {
                  h3 {
                    font: 700 24.1px/1.1em 'proxima-nova', sans-serif;
                  }
                  h4 {
                    font: 400 16.4px/1.2em 'proxima-nova', sans-serif;
                  }
                }
              }
            }
            ._pendo-guide-content-right_ {
              width: 65%;
              left: 35%;
              height: 100%;
              float: right;
              position: absolute;
              top: 0;
              overflow: hidden;
              background: #fff;
              -webkit-border-radius: 0 3px 3px 0;
              -moz-border-radius: 0 3px 3px 0;
              border-radius: 0 3px 3px 0;
              ._pendo-guide-content-right-container_ {
                height: 100%;
                background: #fff;
                -webkit-border-radius: 0 3px 3px 0;
                -moz-border-radius: 0 3px 3px 0;
                border-radius: 0 3px 3px 0;
                video {
                  height: 450px;
                  width: 100%;
                  -webkit-border-radius: 0 3px 3px 0;
                  -moz-border-radius: 0 3px 3px 0;
                  border-radius: 0 3px 3px 0;
                }
                video[poster] {
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (min-width: 601px) and (max-height: 575px) {
    ._pendo-guide-cards-container_ {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    ._pendo-guide-cards-container_ {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  ._pendo-guide-foreground_ {
    margin-left: 0;
  }
}

._pendo-guide-card-grid_>* {
  width: 100%;
  min-width: 200px;
  max-width: 750px;
  min-height: 450px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

._pendo-card-fade-out_ {
  -webkit-animation: pendo-card-fade-out 300ms ease-in-out 0ms both;
  animation: pendo-card-fade-out 300ms ease-in-out 0ms both;
}

._pendo-card-fade-in_ {
  -webkit-animation: pendo-card-fade-in 300ms ease-in-out 0ms both;
  animation: pendo-card-fade-in 300ms ease-in-out 0ms both;
}
