width: 100% !important;
height: 100% !important;
top: 0 !important;
left: 0 !important;
right: 0 !important;
margin: auto !important;
max-width: 1300px !important;

._pendo-guide-container_ {
  top: 2% !important;
  left: 5% !important;
  right: 5% !important;
  border: none;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  max-width: 1300px;
  max-height: 900px;
}

._pendo-guide-container_ ._pendo-guide-content_ {
  /* Content area: use for font attributes, padding, etc. */
  text-align: left;
  padding: 0;
}

._pendo-guide-container_ ._pendo-close-guide_ {
  /* Close guide icon */
  display: inline;
  font-size: 32px;
  font-weight: 100;
  top: 6px;
  right: 15px;
  color: #ccc;
}

._pendo-guide-container_ ._pendo-close-guide_:hover {
  /* Close guide icon hover effects*/
  color: #999;
}

._pendo-guide-invision-embed_ {
  position: relative;
  display: block;
  padding: 0 0 62.5%;
  overflow: hidden;
  border-radius: 4px 4px 0 0;

  > iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    border-radius: 4px 4px 0 0;
  }
}

._pendo-guide-next_ {
  width: 100%;
  height: 45px;
  background-color: #ec2059;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 5px;
  font-size: 1.4rem;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0 0 4px 4px;
}

._pendo-guide-next_:hover {
  background: #ff3a6c;
}

._pendo-guide-next:focus {
  outline: 0;
}
