#searchBox {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #glossaryTable {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
  }
  
  #glossaryTable td {
    text-align: left;
    padding: 12px;
  }
  
  #glossaryTable tr {
    border-bottom: 1px solid #ddd;
    
  }
  